/***********
MOBILE VIEW 
*************/

.navbar {
  background-color: #6E7B9B;
}

.wrapper {
  width: 100%;
}

.head {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.header-img {
  grid-column: 1/4;
  grid-row: 1/4;
}

.portfolio {
  align-self: end;
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 5px 0;
  margin-bottom: 20px;
  font-size: .75rem;
  font-weight: bold;
  border: none;
  background-color: #6E7B9B;
  color: white;
  border-radius: 5px;
}

.quote {
  width: 100%;
  background-color: #B9D1E2;
  padding: 10px;
}

.quote p {
  color: #6E7B9B;
  font-size: 1rem;
  padding: 10px 50px;
  text-align: center;
}

.blockquote-footer {
  color: #6E7B9B;
}

.logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #B9D1E2;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

footer li {
  color: #6E7B9B;
}

.social {
  background-color: #6E7B9B;
  color: white;
}