/**default settings for mobile view with the font family and colours based on the XD file provided**/
html {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

.wrapper {
  width: 80%;
  background-color: white;
  margin: 0 auto;
}

/** setting up all the fonts (size, weight, and line height) with sizes based on the XD file **/

h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #3C3B3A;
}

h2 {
  font-size: 1.5rem;
  color: #3C3B3A;
  font-weight: lighter;
}

h3 {
  font-size: 1rem;
  color: #26A682;
  font-weight: lighter;
}

h4 {
  font-size: 1rem;
  font-weight: lighter;
}

h5 {
  font-size: 1.2rem;
  font-weight: lighter;
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

h7 {
  font-size: 1.3rem;
  font-weight: lighter;
}

p {
  font-size: 1rem;
  color: #3C3B3A;
  line-height: 2rem;
}

/************
MOBILE VIEW
**************/

/************************
Start styling Home page
**************************/
/*Header and Nav bar styled based on the XD file*/

.logo {
  display: block;
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#top {
  background-color: #3C3B3A;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 0 .5rem 0;
  width: 100%;
}

nav ul {
  padding: 0;
  margin: 0 auto;
}

nav li {
  list-style: none;
  margin-bottom: 1rem;
}

nav li a {
  text-decoration: none;
  color: #F2F2F2;
}

.scroll {
  display: none;
}

/*Styling hover and active link*/

nav li a:hover,
nav li a:active,
nav li a.current-page {
  font-weight: bold;
}

/*Styling fitness-icons into a grid so they are laid out into a 2 by 2 format*/

.fitness-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-evenly;
}

.fitness-icons figure {
  color: #26A682;
  font-size: .75rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.fa-bowling-ball,
.fa-hiking,
.fa-dumbbell,
.fa-basketball-ball {
  font-size: 2rem;
  color: #3C3B3A;
  height: auto;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

/*Styling Get Started button with the color and size provided by the XD file*/

.get-started {
  background-color: #26A682;
  font-size: 1.3rem;
  font-weight: bold;
  color: #F2F2F2;
  text-align: center;
  border: none;
  border-radius: 15px;
  width: 100%;
  padding: .5rem;
  margin-top: 1.5rem;
  box-shadow: 5px 10px 15px #707070;
}

/*Resizing discover-img and school image*/

.discover-img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.discover {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.school {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

/* Styling the Learn More button using the XD file as a reference */

.learn-more {
  float: right;
  background-color: #26A682;
  font-size: 1rem;
  font-weight: bold;
  color: #F2F2F2;
  text-align: center;
  padding: .5rem 1rem;
  border: none;
  border-radius: 15px;
  width: 50%;
  padding: .5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 5px 10px 15px #707070;
}

/*Styling Profile section using the XD file as a reference*/

.profile {
  clear: both;
  background-color: #3C3B3A;
  margin-top: 1rem;
  color: white;
  text-align: center;
  padding: 2rem;
}

.profile h4 {
  padding: 0;
}

.simon {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 3px solid white;
}

.profile p {
  color: #F2F2F2;
  text-align: left;
  padding: 1rem;
  line-height: 2rem;
}

/* Resizing entertainment-img */

.entertainment-img {
  width: 100%;
  height: auto;
}

/* Creating an animation for the fitness icons and logo*/

@keyframes fade-in {
  10% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes stretch {
  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

.fa-bowling-ball,
.fa-hiking,
.fa-dumbbell,
.fa-basketball-ball {
  animation-name: fade-in;
  animation-duration: 5s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

.logo {
  animation-name: stretch;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

}

/**************************
Start Styling About Page 
**************************/

.construction-img {
  width: 100%;
  height: auto;
}

/*Making the about.jpg the background image for the about-container and centering the text*/

.about {
  margin-top: 1.5rem;
}

.about-container {
  background-image: linear-gradient(rgba(38, 166, 130), rgba(38, 166, 130)),
    url(images/about.jpg);
  background-blend-mode: multiply;
  background-position: 100%;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
  margin: auto;
  height: 50px;
  text-align: center;
}

.about h1 {
  color: #F2F2F2;
  font-size: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.bold {
  font-weight: bold;
  font-style: italic;
}

/*Making the services.jpg the background image for the about-container and centering the text*/

.services-container {
  background-image: linear-gradient(rgba(38, 166, 130), rgba(38, 166, 130)),
    url(images/services.jpg);
  background-blend-mode: multiply;
  background-position: 100%;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
  margin: auto;
  height: 50px;
  text-align: center;
}

.services h1 {
  color: #F2F2F2;
  font-size: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* Hiding images for the mobile view */

.bar-img,
.bowling-img,
.fitness-img,
.climbing-img {
  display: none;
}

/* Styling the rest of the text for the About page based on the XD file */

.restaurant h2,
.competitive-friends h2,
.fitness h2,
.climbing h2 {
  font-weight: bold;
}

.competitive-friends {
  background-color: #F2F2F2;
  padding: 1.5rem 0;
}

.friends-text {
  width: 80%;
  margin: 0 auto;
}

/* Styling newsletter section based on XD file */

.newsletter {
  background-color: #3C3B3A;
  padding: 1rem;
  text-align: center;
}

.newsletter p {
  color: white;
  margin: 0;
  margin-bottom: 0.5rem;
}

.subscribe {
  background-color: #26A682;
  font-size: 1rem;
  font-weight: bold;
  color: #F2F2F2;
  text-align: center;
  padding: .5rem 1rem;
  border: none;
  border-radius: 15px;
  width: 50%;
  padding: .5rem;
}

/* Styling text after the newsletter section  */

.climbing {
  background-color: #F2F2F2;
  padding: 1.5rem 0;
}

.climbing-container {
  width: 80%;
  margin: 0 auto;
}

.thanks h1 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
}

/* Resizing and centering logos for the special thanks section based on the XD file */

.sa {
  width: 100%;
  padding-bottom: 0.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ac,
.pcl,
.cibc {
  width: 50%;
  padding-bottom: 1.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*****************************
 Start Styling Contact Page  
 ********************************/

.communicate h1 {
  font-size: 2.5rem;
}

.contact-icons {
  width: 100%;
  margin-bottom: 1rem;
}

/* Styling contact form so the colour and text match the XD file */

.contact-form {
  background-color: #26A682;
  border-radius: 15px;
  box-shadow: 5px 10px 15px #707070;
  padding: 1.5rem 1rem;
  color: #F2F2F2;
  margin-bottom: 5rem;
  justify-content: center;
}

.contact-form h6 {
  margin-bottom: 1rem;
}

label.label {
  margin: 2rem 0;
}

#fname,
#snumber,
#email,
#message {
  width: 95%;
  border: none;
  border-radius: 15px;
  background-color: #f4f4f5;
  padding: 10px;
  margin: 1rem 0;
}

::placeholder {
  color: rgba(60, 59, 58, .60);
}

textarea {
  color: rgba(60, 59, 58, .60);
}

/* Styling submit button */

.submit {
  background-color: #3C3B3A;
  box-shadow: 5px 10px 15px #707070;
  font-size: 1.5rem;
  font-weight: bold;
  color: #F2F2F2;
  text-align: center;
  padding: .5rem 1rem;
  border: none;
  border-radius: 25px;
  width: 100%;
}

/* Styling location section */

.location p {
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

iframe {
  width: 100%;
}

/*****************************
 Styling Footer 
 based off of XD file provided 
 ********************************/

footer {
  clear: both;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr;
  background-color: #3C3B3A;
  color: #F2F2F2;
  padding: 1rem 0;
}

footer h5 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.follow-us {
  text-align: center;
}

.arrow {
  width: 50%;
}

.top {
  width: 100%;
  text-align: center;
}

.top figure {
  display: inline-block;
  color: #F2F2F2;
  font-size: .5rem;
  margin: 0;
  padding: 0;
}

.top figcaption {
  margin-top: .5rem;
  text-align: center;
}

/***************
******************
Tablet View
****************
*****************/

@media (min-width: 900px) {

  /* Resizing main text based on XD file */

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 3rem;
  }

  h7 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  #top {
    display: grid;
    grid-template-columns: 25% 25% 50%;
  }

  /* Making nav bar sit next to logo horizontally */

  nav {
    grid-column: 3/4;
    margin-top: 2.5rem;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  /***********************************
   Styling Home page for Tablet View 
   ***********************************/

  .main h1 {
    margin-top: 4rem;
  }

  .main p {
    line-height: 2.5rem;
  }

  .fitness-icons {
    display: flex;
    justify-content: space-around;
  }

  .get-started {
    width: 35%;
    font-size: 2.5rem;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .discover-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .scroll {
    display: block;
    align-items: center;
    justify-items: center;
  }

  .scroll-arrow {
    transform: rotate(180deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  /* Creating animation for scroll arrow */

  @keyframes up-down {
    50% {
      transform: translate(0, -15px)
    }
  }

  .scroll {
    animation-name: up-down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .learn-more {
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .simon {
    width: 35%;
    grid-column: 1/2;
  }

  .profile-head {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .profile-p {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  /***********************************
   Styling About page for Tablet View 
   ***********************************/

  .construction p {
    margin: 3rem 0;
  }

  .construction-img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bar-img,
  .bowling-img,
  .fitness-img,
  .climbing-img {
    display: block;
    width: 100%;
  }

  .restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }

  .bar-pic {
    grid-column: 1/2;
    margin-right: 1.5rem;
  }

  .competitive-friends {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
  }

  .friends-text {
    grid-column: 1/2;
  }

  .bowling-img {
    grid-column: 2/3;
  }

  .newsletter {
    display: grid;
    grid-template-columns: 75% 25%;
  }

  .thanks h1 {
    font-size: 2rem;
  }

  .sa {
    width: 45%;
  }

  .ac,
  .pcl,
  .cibc {
    width: 30%;
  }

  /************************************
   Styling Contact Page for Tablet View  
   **************************************/

  .contact-icons {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Resizing contact form based on XD file*/

  .contact-form::after {
    content: "";
    clear: both;
    display: table;
  }

  label.label {
    margin: 0 1rem;
  }

  #fname,
  #snumber,
  #email,
  #message {
    margin: 1rem;
  }

  .submit {
    width: 25%;
    float: right;
  }

  .location-text {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
  }

  .location p {
    line-height: 1rem;
  }

  /* Restyling footer based on XD file for tablet view */

  footer {
    display: grid;
    grid-template-columns: 90% 10%;
  }

  .facebook,
  .instagram,
  .twitter,
  .youtube {
    margin: 0 0.2rem;
  }
}

/***********
************ 
Desktop View 
*************
**************/

@media (min-width: 1200px) {

  /* Changing text size for Desktop View */

  .wrapper {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  /* Resizing logo for desktop view */

  .logo {
    width: 20%;
  }

  /* Re-Styling nav bar for desktop view based on XD file */

  nav {
    margin-top: 1.2rem;
  }

  nav ul {
    font-size: 1rem;
  }

  /* Styling Main section for Desktop View by adding a grid to mske the content sit next to each other*/

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
  }

  .main h1 {
    margin-bottom: 5rem;
  }

  .grid-left {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
  }

  .grid-right {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  /* Styling Discover section into a two column grid so the content sits next to each other */

  .discover-img {
    margin-top: 5rem;
    width: 100%;
  }

  .get-started {
    margin: 1.5rem 0 3rem 0;
    width: auto;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
  }

  .school-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F2F2F2;
    padding: 2rem;
  }

  .school-img {
    width: auto;
    grid-column: 1/2;
    margin-right: 2rem;
  }

  .school {
    width: 100%;
  }

  .discover {
    width: 100%;
    grid-column: 2/3;
    margin: 1rem 0;
  }

  .discover h2,
  .discover h3 {
    margin: 0;
  }

  .discover h3 {
    margin-top: 0.5rem;
  }

  .learn-more {
    padding: 0.5rem;
    width: 40%;
    font-size: 1rem;
  }

  /* Styling the Profile section into a 3 column grid so the content sits next to each other */

  .profile {
    display: grid;
    grid-template-columns: 15% 15% 70%;
    grid-template-rows: auto;
    margin: 0;
    padding: 1rem;
    align-items: center;
    justify-items: center;
  }

  .simon {
    grid-column: 1/2;
    width: 100%;
  }

  .profile-head {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .profile-p {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  /* Styling entertainment section so the contect sits in a two column grid */

  .entertainment h2 {
    margin: 0.5rem 0;
  }

  .entertainment h3 {
    margin: 0.5rem 0;
  }

  .entertainment p {
    margin: 0.5rem 0;
  }

  .entertainment-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
  }

  .entertainment {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .entertainment-pic {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .entertainment-grid .learn-more {
    width: 50%;
    font-size: 1rem;
  }

  /*************************************
  Styling Contact page for Desktop View 
  **************************************/

  /* Creating a 2 column grid so the top information and contact form sit next to each other */

  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .communicate {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .contact-form {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
  }

  /* Creating a 2 column grid so the location information and map sit next to each other */

  h7 {
    font-size: 1.5rem;
  }

  .location-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
  }

  .location {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 0.5rem;
  }

  .location-text {
    margin: 0.5rem 0;
  }

  iframe {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 350px;
    width: 100%;
    margin-left: 1rem;
  }

  /******************************
  Styling Footer for Desktop View 
  *********************************/

  .arrow {
    width: 75%
  }

}